#blue{
    color: blue;
    font-family:cursive
 }
#red{
    color: red;
    font-family:cursive
    
}
#orange{
    color: orange;
    font-family:cursive
}
#yellow{
    color: rgb(216, 216, 39);
    font-family:cursive
}
#green{
    font-family:cursive;
    color: green;
     
}
.color-title{
    font-weight: normal;
    font-family:cursive
}
img{
    width: 300px;
    height:200px;
}
*{
    background: rgb(225, 246, 239);
}